In [2]:
import pandas as pd

In [3]:
# 판다스의 데이터 프레임을 생성합니다.
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

In [4]:
BabyDataSet = list(zip(names, births))
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])

In [5]:
# 데이터 프레임의 상단 부분을 출력합니다.
df.head()

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [6]:
# 데이터 프레임의 열 타입 정보를 출력
df.dtypes

Names     object
Births     int64
dtype: object

In [7]:
# 데이터 프레임의 인덱스 정보
df.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
# 데이터 프레임의 열의 형태 정보
df.columns

Index(['Names', 'Births'], dtype='object')

In [9]:
# 데이터 프레임의 열 선택하기
df['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [10]:
# 0~3번째 인덱스를 선택
df[0:3]

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77

In [11]:
# Births 열이 100보다 큰 데이터를 선택
print(df[df['Births'] > 100])

     Names  Births
0      Bob     968
1  Jessica     155
3     John     578
4      Mel     973

In [12]:
# 데이터 프레임에서의 평균값을 계산합니다.
print(df.mean())

Births    550.2
dtype: float64

## 넘파이의 설치와 활용

In [13]:
import numpy as np

In [14]:
arr1 = np.arange(15).reshape(3, 5)
arr1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [15]:
arr1.shape

(3, 5)

In [16]:
arr1.dtype

dtype('int32')

In [ ]:
np.ar